<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pgb.brewapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
>
    <name>Snake</name>
    <description>
        This app brews beer.
    </description>

    <author email="adityajain1095@gmail.com" href="http://adityajain.info">
        Aditya Jain
    </author>

    <preference name="phonegap-version" value="cli-9.0.0"/>
</widget>